{% extends 'cryptocurrency/base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
<style>
input[type=button], input[type=submit], input[type=reset] {
  background-color: blue;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}


</style>
<div class="content">
    <div class="container">
        <div class="row pt-5">
            <div class="card" style="max-width: 60%">
                <h4 class="title" style="text-align:center; margin-top:20px">Set a new password!</h4>
                <form method="post">
                    <div class="card-body px-5 py-3">

                        <div class="row">
                            <div class="col-md-12 px-md-1">
                                <div class="form-group">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="submit" value="Change my password">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password
    reset.</p>

{% endif %}
{% endblock %}