{% extends 'cryptocurrency/base.html' %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="row pt-5">
            <div class="card" style="max-width: 60%">
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body px-5 py-3">
                        <div class="row">
                            <div class="col-md-12 px-md-1">
                                <div class="form-group">
                                    <h4>Password reset</h4>
                                    {% if form.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for field in form %}
                                                {% if field.errors %}
                                                    <ul class="m-0">
                                                        {% for error in field.errors %}
                                                            <li>{{ error }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {{ form.as_p }}
                                    <button type="submit" name="login" class="btn btn-fill btn-primary">Request password
                                        reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
