<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'cryptocurrency/images/site-logo.png' %}">

    <title>
        CryptoAnalytics
    </title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'cryptocurrency/css/style.css' %}"/>

    <!-- JS Files -->
    <script src="{% static 'cryptocurrency/js/messages.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'cryptocurrency/js/watchlist.js' %}"></script>
    <script src="{% static 'cryptocurrency/js/dropdown.js' %}"></script>
    <script src="{% static 'cryptocurrency/js/update_page.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="logo">
                <img src="{% static 'cryptocurrency/images/logo.png' %}">
            </div>
            <ul class="nav">
                <li>
                    <a href="{% url 'cryptocurrency:home' %}" class="menu-link">
                        <img src="{% static 'cryptocurrency/images/dashboard.png' %}">
                        <h4>Dashboard</h4>
                    </a>
                </li>
                <li>
                    <a href="{% url 'cryptocurrency:rates' %}" class="menu-link">
                        <img src="{% static 'cryptocurrency/images/crypto.png' %}">
                        <h4>Cryptocurrencies</h4>
                    </a>
                </li>
                <li>
                    <a href="{% url 'cryptocurrency:news' %}" class="menu-link">
                        <img src="{% static 'cryptocurrency/images/news.png' %}">
                        <h4>News</h4>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'cryptocurrency:watchlist' %}" class="menu-link">
                        <img src="{% static 'cryptocurrency/images/star-uncolored.png' %}">
                        <h4>Watchlist</h4>
                    </a>
                </li>
                <li>
                    <a href="{% url 'users:profile' %}" class="menu-link">
                        <img src="{% static 'cryptocurrency/images/user.png' %}"
                             style="width:32px;height:32px;float:left;">
                        <h4 style="margin:0px;height:32px;max-width:100%;float:left;overflow:auto;">User Profile</h4>
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="sidebar-icons">
                <a href="https://www.linkedin.com/in/andrii-svitelskyi-2a4775262/"><img
                        src="{% static 'cryptocurrency/images/linkedin.png' %}"></a>
                <a href="https://github.com/AndriiSeeker"><img
                        src="{% static 'cryptocurrency/images/github.png' %}"></a>
                <a href="https://t.me/CryptoCurrencyPetBot"><img
                        src="{% static 'cryptocurrency/images/telegram.png' %}"></a>
            </div>
        </div>
    </div>
    <div class="main-panel">

        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="{% url 'cryptocurrency:home' %}" style="font-size: 20px">CryptoAnalytics</a>
                </div>
                {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <form action="{% url 'cryptocurrency:search_field' %}" method="get" class="search-form">
                                <input type="text" name="query" class="search-input" placeholder="Search..."/>
                                <button type="submit" class="search-button">
                                    <svg class="search-icon" viewBox="0 0 24 24">
                                        <path d="M15.5 14h-.79l-.28-.27a6.47 6.47 0 1 0-.7.7l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-4 0A4.5 4.5 0 1 1 14 9.5a4.47 4.47 0 0 1-4.5 4.5z"/>
                                    </svg>
                                </button>
                            </form>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="{% url 'users:profile' %}" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <div class="photo">
                                    {% if avatar %}
                                    <img src="{{ avatar }}" alt="Image" class="avatar">
                                    {% else %}
                                    <!-- Default avatar or placeholder image -->
                                    <img src="{% static 'users/images/default-avatar.png' %}" alt="Default Avatar"
                                         class="avatar">
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div class="user-dropdown">
                        <button onclick="myFunction()" class="dropbtn" id="dropbtn"><img
                                src="{% static 'cryptocurrency/images/sort-down.png' %}"></button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="{% url 'users:profile' %}">My profile</a>
                            <a href="{% url 'users:logout' %}">Logout</a>
                        </div>
                    </div>

                </div>
                {% else %}
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li class="search-bar input-group">
                            <a href="/users/signup">
                                <button type="submit" class="btn btn-fill btn-primary">Signup</button>
                            </a>
                        </li>
                        <li class="search-bar input-group">
                            <a href="{% url 'users:login' %}">
                                <button type="submit" class="btn btn-fill btn-primary">Login</button>
                            </a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>

        {% block content %}{% endblock %}

        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright">
                    &copy; Made by <a target="_blank" href="https://www.linkedin.com/in/andrii-svitelskyi-2a4775262/">Andrii
                    Svitelskyi</a>
                </div>
            </div>
        </footer>

    </div>
</div>

</body>
</html>
