<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'cryptocurrency/images/site-logo.png' %}">

    <title>
        Error 404
    </title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'cryptocurrency/css/style.css' %}"/>
</head>
<body>
<div class="content">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                <div class="card">
                    <div class="card-header text-center py-4">
                        <h3 class="title">
                            Error 404
                        </h3>
                    </div>
                    <div class="card-body px-2 py-2">

                        <p class="text-center">
                            Page not found - Please contact support.
                        </p>

                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'cryptocurrency:home' %}" class="btn btn-fill btn-primary">HOME</a>

                        <br/><br/>

                        <p>
                            Write to us at gmail (andriy.svitelskyi@gmail.com) to get support
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


</body>
</html>